// vetshop changes

.ty-product-options__image {
    border: 3px solid lighten(@base, 30%);
}
.product-variant-image-selected {
   /* border-color: darken(@base, 20%); */
   border-color: #1966b0;
}
.ty-feature {
    /* margin: 0px; */
 }   
.ty-product-block .ty-product-options .ty-control-group__label {
	width: 100%;
}
.ypi-categories_grid h1.ty-mainbox-title {
	text-align: left;
}
.ypi-features.ypi-categories_grid .side-grid .v-filter {
	padding: 20px;
	margin-top: 18px;
	background: #f5f5f5;
	position: relative;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
}
.ypi-features.ypi-categories_grid .v-filter .y-mainbox-title {
	padding-bottom: 15px;
}
.ypi-features.ypi-categories_grid .ty-price-slider {
	padding: 5px 0 1px;
}
.ypi-white-cfbt {
	display: none;
}
.ty-btn .ty-icon {
    position: relative;
    top: 0px;
    left: -6px;
    margin-right: 0px;
}
.ypi-top-panel .top-menu-text-links a.ty-text-links__a {
	font-size: 14px;
}
.ypi-cr-box {
	padding-bottom: 5px;
}
.ty-footer-general__header {
	cursor: auto;
}
.ty-wysiwyg-content h3 {
	margin-top: 0px;
}
.ty-wysiwyg-content p br {
	display: none;
}