// vetshop changes

.ty-product-options__image {
    border: 3px solid lighten(@base, 30%);
}
.product-variant-image-selected {
   /* border-color: darken(@base, 20%); */
   border-color: #1966b0;
}
.ty-feature {
    /* margin: 0px; */
 }   
.ty-product-block .ty-product-options .ty-control-group__label {
	width: 100%;
}
.ypi-categories_grid h1.ty-mainbox-title {
	text-align: left;
}
.ypi-features.ypi-categories_grid .side-grid .v-filter {
	padding: 20px;
	margin-top: 18px;
	background: #f5f5f5;
	position: relative;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
}
.ypi-features.ypi-categories_grid .v-filter .y-mainbox-title {
	padding-bottom: 15px;
}
.ypi-features.ypi-categories_grid .ty-price-slider {
	padding: 5px 0 1px;
}
.ypi-white-cfbt {
	display: none;
}
.ty-btn .ty-icon {
    position: relative;
    top: 0px;
    left: -6px;
    margin-right: 0px;
}
.ypi-top-panel .top-menu-text-links a.ty-text-links__a {
	font-size: 14px;
}
.ypi-cr-box {
	padding-bottom: 5px;
}
.ty-footer-general__header {
	cursor: auto;
}
.ty-wysiwyg-content h3 {
	margin-top: 0px;
}
.ty-wysiwyg-content p br {
	display: none;
}
.ty-blog-grid .ty-mainbox-title span {
	font-size: 28px;
}
.span3 .ty-sidebox-important {
	display: none;
}
.ypi-blog .ypi-blog__item {
	margin: 0px;
}
.ty-order-products__price {
	margin-top: 10px;
}
.ty-checkout-summary__taxes {
	display: none;
}
.ty-checkout-summary__taxes + .ty-checkout-summary__item {
	display: none;
}
td[data-ct-checkout-summary="tax-name Без НДС"] {
	display: none;
}
td[data-ct-checkout-summary="taxes"] {
	display: none;
}
.table.table-bordered.table-responsive.table-hover {
	border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
   	cursor: pointer;
}
.table.table-bordered.table-responsive.table-hover td {
	border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
}
.table.table-bordered.table-responsive.table-hover tr:hover {
	background-color: #f5f5f5;
}
.ypi-categories_grid.enable-v-filers .side-grid .v-filter {
	margin-top: 10px;
}
.ypi-features.ypi-categories_grid .side-grid .v-filter {
	margin-top: 14px;
}
.ty-blog-grid * {
	font-size: 16px;
}
.ty-dropdown-box__content {
    min-width: 330px;
}
.main__link {
	font-size: 14px;
    line-height: 20px;
    color: #337AB8;
}
